<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>README Maker</title>
</head>
<body>
    <h1>This is a README.md Maker</h1>
    <p>
        This markdown maker utilized the power of Google's Gemini model with the following template for the markdown:
        <ol>
            <li>Title</li>
            <li>About the project</li>
            <li>Technologies Used</li>
            <li>Getting Started:
                <ul>
                    <li>Prerequisites (Instructions to install required packages here)</li>
                    <li>Installation (Instructions to clone the GitHub repo)</li>
                    <li>Usage (Show examples of how it can be used)</li>
                </ul>
            </li>
            <li>License</li>
            <li>Contributing</li>
            <li>Contact</li>
            <li>Acknowledgement</li>
        </ol>
    </p>
    <h2><label for="start">Click the button below to start using it.</label></h2>
    <button name="start" onclick="window.location.href='readme'">Start</button>
</body>
</html>
